@import url("//fonts.googleapis.com/css?family=Ubuntu");
a:hover {
  text-decoration: none;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
/* Override bootstrap css styles */
code {
  white-space: normal;
}
.col-lg-8 {
  padding-right: 30px;
}
.col-lg-4 {
  margin-left: 20px;
  width: 31.33%;
  background-color: #F5F5F5;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.navbar-nav > li > a {
  padding-top: 17px;
}
/* Override wp css styles */
#page {
  margin-top: 70px;
}
.post {
  padding-top: 5px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E7E7E7;
  margin-bottom: 5px;
}
h1.entry-title,
.page-header {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #e96b56;
  font-size: 30px;
}
.widget_search {
  margin-top: 10px;
}
.widget_search .search-submit {
  display: inline;
}
h1.widget-title {
  color: #e96b56;
  font-size: 24px;
}
.widget ul {
  list-style: none;
  margin: 10px;
}
.widget li {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.entry-meta a,
.widget li a {
  color: #449bb6;
}
.entry-meta a:hover,
.widget li a:hover,
.entry-meta a:focus,
.widget li a:focus {
  color: #2f6c7e;
}
.entry-meta a:visited,
.widget li a:visited {
  color: #449bb6;
}
.tags-links {
  font-size: 12px;
  margin-left: 40px;
}
.tags-links a {
  color: #3fbd49;
  font-size: 12px;
  font-family: "Verdana";
}
.tags-links a:hover,
.tags-links a:focus {
  color: #2c8433;
}
.tags-links a:visited {
  color: #3fbd49;
}
.entry-meta-custom {
  font-size: 12px;
}
.entry-meta-custom .tags {
  margin-left: 40px;
}
.entry-meta-custom .tags a {
  color: #3fbd49;
  font-size: 12px;
  font-family: "Verdana";
}
.entry-meta-custom .tags a:hover,
.entry-meta-custom .tags a:focus {
  color: #2c8433;
}
.entry-meta-custom .tags a:visited {
  color: #3fbd49;
}
.entry-meta .byline {
  font-size: 12px;
}
.entry-date,
.vcard a {
  color: #3fbd49;
  font-size: 12px;
  font-family: "Verdana";
}
.entry-date:hover,
.vcard a:hover,
.entry-date:focus,
.vcard a:focus {
  color: #2c8433;
}
.entry-date:visited,
.vcard a:visited {
  color: #3fbd49;
}
.site-footer {
  margin: 20px 0px 10px;
}
.logoWrapper {
  margin: 15px auto;
  width: 200px;
}
.topLogo {
  letter-spacing: 0.1em;
  font-size: 28px;
}
.tags-links {
  margin-left: 10%;
}
