/* Override bootstrap css styles */
code {
	white-space: normal;
}

.col-lg-8 {
	padding-right: 30px;
	border-right: 1px solid #DDDDDB;
}

/* Override wp css styles */
.post {
	padding-bottom: 25px;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
	margin-bottom: 5px;
}

h1.entry-title, .page-header {
	margin-top: 10px;
}

.widget_search {
	margin-top: 10px;
}

.search-field {
	width: 170%;
}

h1.widget-title {
	color: #DD4814;
	font-size: 24px;
}

.widget ul {
	list-style: none;
	margin: 10px;
}

.widget li {
	border-bottom: 1px solid #CCC;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	color: #046380;
}

.widget li a {
	color: #046380;
}

/* custom styles */

.searchFormWrapper {
	padding: 10px 10px 5px 10px;
	background-color: #DD4814;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}